{% extends '../Plantilla.html'%}
{% block body %}
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#tabListFestival" class="mdl-tabs__tab is-active">FESTIVALES</a>
        <a href="#tabNewFestival" class="mdl-tabs__tab">NUEVO</a>
    </div>
    <div class="mdl-tabs__panel is-active" id="tabListFestival">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="full-width panel-tittle bg-success text-center tittles">
                        Listado de Festivales
                    </div>
                    <div class="full-width panel-content">
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                <label class="mdl-button mdl-js-button mdl-button--icon" for="searchFestival">
                                    <i class="zmdi zmdi-search"></i>
                                </label>
                                <div class="mdl-textfield__expandable-holder">
                                    <input class="mdl-textfield__input" type="text" id="searchFestival">
                                    <label class="mdl-textfield__label"></label>
                                </div>
                            </div>
                        </form>
                        <div class="mdl-list">
                            {% for festival in festivales %}
                            <div class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <span>{{ festival.nombre }}</span>
                                    <span class="mdl-list__item-sub-title">{{ festival.ubicacion }}</span>
                                </span>
                                <a href="#" class="btn btn-success editar-festival"
                                    data-id="{{ festival.id_festival }}" data-bs-toggle="modal"
                                    data-bs-target="#form_actualizar_festival">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                &nbsp;
                                <a href="" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                                &nbsp;
                                <a href="" class="btn btn-info">
                                    <i class="bi bi-eye"></i>
                                </a>
                            </div>
                            {% endfor %}
                            <li class="full-width divider-menu-h"></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="tabNewFestival">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="full-width panel-tittle bg-primary text-center tittles">
                        Nuevo Festival
                    </div>
                    <div class="full-width panel-content">
                        <form action="{% url 'crear_festival' %}" method="POST">
                            {% csrf_token %}
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col">
                                    <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp;
                                    </legend><br>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="nombre" name="nombre">
                                        <label class="mdl-textfield__label" for="nombre">Nombre:</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="ubicacion" name="ubicacion">
                                        <label class="mdl-textfield__label" for="ubicacion">Ubicación</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="date" id="fecha_inicio"
                                            name="fecha_inicio" style="color: transparent;">
                                        <label class="mdl-textfield__label" for="fecha_inicio">Fecha Inicio</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="date" id="fecha_fin" name="fecha_fin" style="color: transparent;">
                                        <label class="mdl-textfield__label" for="fecha_fin">Fecha Fin</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <textarea class="mdl-textfield__input" id="descripcion" name="descripcion"></textarea>
                                        <label class="mdl-textfield__label" for="descripcion">Descripción</label>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">
                                <button type="submit"
                                    class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary"
                                    id="btn-addFestival">
                                    <i class="zmdi zmdi-plus"></i>
                                </button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

{% endblock %}