{% extends '../Plantilla.html'%}
{% block body %}
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#tabListClient" class="mdl-tabs__tab is-active" >LISTADO</a>
        <a href="#tabNewClient" class="mdl-tabs__tab">NUEVO</a>
    </div>
    <div class="mdl-tabs__panel is-active" id="tabListClient">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="full-width panel-tittle bg-success text-center tittles">
                        Listado Artistas
                    </div>
                    <div class="full-width panel-content">
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                <label class="mdl-button mdl-js-button mdl-button--icon" for="searchClient">
                                    <i class="zmdi zmdi-search"></i>
                                </label>
                                <div class="mdl-textfield__expandable-holder">
                                    <input class="mdl-textfield__input" type="text" id="searchClient">
                                    <label class="mdl-textfield__label"></label>
                                </div>
                            </div>
                        </form>
                        <div class="mdl-list">
                            {% for artistaTemp in artista %}
                                <div class="mdl-list__item mdl-list__item--two-line">
                                    <span class="mdl-list__item-primary-content">
                                        <i class="zmdi zmdi-account mdl-list__item-avatar"></i>
                                        <span>{{artistaTemp.nombre}} {{artistaTemp.apellido}}</span>
                                        <span class="mdl-list__item-sub-title">{{artistaTemp.ci}}</span>
                                    </span>
                                    <a href="#" class="btn btn-success editar-artista"
                                    data-id="{{ artistaTemp.ci }}" data-bs-toggle="modal"
                                    data-bs-target="#form_actualizar">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    &nbsp;
                                    <a href="{% url 'eliminarUsuario' artistaTemp.id_use %}" class="btn btn-danger" onclick="return confirm('¿Está seguro que desea eliminar este artista?')">
                                        <i class="bi bi-trash"></i>
                                    </a>  
                                    &nbsp;
                                    <a href="" class="btn btn-info">
                                        <i class="bi bi-eye"></i>
                                    </a>              
                                </div>
                            {% endfor %}
                            <li class="full-width divider-menu-h"></li>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="tabNewClient">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="full-width panel-tittle bg-primary text-center tittles">
                        Nuevo Artista
                    </div>
                    <div class="full-width panel-content">
                        <form action="{% url 'crearArtista' %}" method="POST" id="form-addArtist">
                            {% csrf_token %}
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col">
                                    <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; </legend><br>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="ci" name="ci">
                                        <label class="mdl-textfield__label" for="ci">C.I.:</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[A-Za-záéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="nombre" name="nombre">
                                        <label class="mdl-textfield__label" for="nombre">Nombre:</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[A-Za-záéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="apellido" name="apellido">
                                        <label class="mdl-textfield__label" for="apellido">Apellido</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="date" id="fecha_nacimiento" style="color: transparent;" name="fecha_nacimiento">
                                        <label class="mdl-textfield__label" for="fecha_nacimiento">Fecha de nacimiento</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="email" id="correo" name="correo"> 
                                        <label class="mdl-textfield__label" for="correo">Correo</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="contraseña" name="contraseña">
                                        <label class="mdl-textfield__label" for="contraseña">Contraseña</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <textarea name="biografia" id="biografia" class="mdl-textfield__input"></textarea>
                                        <label class="mdl-textfield__label" for="contraseña">Biografia</label>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">                               
                                <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addClient">
                                    <i class="zmdi zmdi-plus"></i>
                                </button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="form_actualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar artista</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'actualizar_artista' %}" method="POST" id="form-actualizar">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col">
                                <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp;
                                </legend><br>
                            </div>
                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input type="text" class="form-control" id="id_act" name="id_act" hidden>
                                    <input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?"
                                        id="ci_act" name="ci_act">
                                    <label class="mdl-textfield__label" for="ci_act">C.I.:</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text"
                                        pattern="-?[A-Za-záéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="nombre_act" name="nombre_act">
                                    <label class="mdl-textfield__label" for="nombre_act">Nombre:</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text"
                                        pattern="-?[A-Za-záéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="apellido_act"
                                        name="apellido_act">
                                    <label class="mdl-textfield__label" for="apellido_act">Apellido</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="date" id="fecha_nacimiento_act"
                                        name="fecha_nacimiento_act">
                                    <label class="mdl-textfield__label" for="fecha_nacimiento_act">Fecha de
                                        nacimiento</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="email" id="correo_act" name="correo_act">
                                    <label class="mdl-textfield__label" for="correo_act">Correo</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="contraseña_act"
                                        name="contraseña_act">
                                    <label class="mdl-textfield__label" for="contraseña_act">Contraseña</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        jQuery.validator.addMethod("soloLetrasEspacios", function(value, element) {
            return this.optional(element) || /^[a-zA-Z\s]+$/.test(value);
        }, "Por favor, ingrese solo letras y espacios.");

        // Validación del formulario de creación
        $('#form-addArtist').validate({
            rules: {
                ci: {
                    required: true,
                    number: true,
                    minlength: 10,
                },
                nombre: {
                    required: true,
                    minlength: 3,
                    soloLetrasEspacios: true
                },
                apellido: {
                    required: true,
                    minlength: 3,
                    soloLetrasEspacios: true
                },
                fecha_nacimiento: {
                    required: true
                },
                correo: {
                    required: true,
                    email: true
                },
                contraseña: {
                    required: true,
                    minlength: 6
                }
            },
            messages: {
                ci: {
                    required: 'Por favor, ingrese su C.I.',
                    number: 'Por favor, ingrese un número válido',
                    minlength: 'Por favor, ingrese al menos 10 caracteres'
                },
                nombre: {
                    required: 'Por favor, ingrese su nombre',
                    minlength: 'Por favor, ingrese al menos 3 caracteres',
                    soloLetrasEspacios: 'Por favor, ingrese solo letras y espacios.'
                },
                apellido: {
                    required: 'Por favor, ingrese su apellido',
                    minlength: 'Por favor, ingrese al menos 3 caracteres',
                    soloLetrasEspacios: 'Por favor, ingrese solo letras y espacios.'
                },
                fecha_nacimiento: {
                    required: 'Por favor, ingrese su fecha de nacimiento'
                },
                correo: {
                    required: 'Por favor, ingrese su correo',
                    email: 'Por favor, ingrese un correo válido'
                },
                contraseña: {
                    required: 'Por favor, ingrese su contraseña',
                    minlength: 'Por favor, ingrese al menos 6 caracteres'
                }
            }
        });

        // Validación del formulario de actualización
        $('#form-actualizar').validate({
            rules: {
                ci_act: {
                    required: true,
                    number: true
                },
                nombre_act: {
                    required: true,
                    minlength: 3,
                    soloLetrasEspacios: true
                },
                apellido_act: {
                    required: true,
                    minlength: 3,
                    soloLetrasEspacios: true
                },
                fecha_nacimiento_act: {
                    required: true
                },
                correo_act: {
                    required: true,
                    email: true
                },
                contraseña_act: {
                    required: true,
                    minlength: 6
                }
            },
            messages: {
                ci_act: {
                    required: 'Por favor, ingrese su C.I.',
                    number: 'Por favor, ingrese un número válido'
                },
                nombre_act: {
                    required: 'Por favor, ingrese su nombre',
                    minlength: 'Por favor, ingrese al menos 3 caracteres',
                    soloLetrasEspacios: 'Por favor, ingrese solo letras y espacios.'
                },
                apellido_act: {
                    required: 'Por favor, ingrese su apellido',
                    minlength: 'Por favor, ingrese al menos 3 caracteres',
                    soloLetrasEspacios: 'Por favor, ingrese solo letras y espacios.'
                },
                fecha_nacimiento_act: {
                    required: 'Por favor, ingrese su fecha de nacimiento'
                },
                correo_act: {
                    required: 'Por favor, ingrese su correo',
                    email: 'Por favor, ingrese un correo válido'
                },
                contraseña_act: {
                    required: 'Por favor, ingrese su contraseña',
                    minlength: 'Por favor, ingrese al menos 6 caracteres'
                }
            }
        });

        // Maneja el clic en el botón de editar
        $(document).on('click', 'a.editar-artista', function (event) {
            event.preventDefault();
            var administradorId = $(this).data('id');
            $.ajax({
                url: `/listadoArtistaID/${administradorId}/`,
                method: 'GET',
                success: function (data) {
                    $('#id_act').val(data.id_use);
                    $('#ci_act').val(data.ci);
                    $('#nombre_act').val(data.name);
                    $('#apellido_act').val(data.last_name);
                    $('#fecha_nacimiento_act').val(data.birthdate);
                    $('#correo_act').val(data.email);
                    $('#contraseña_act').val(data.password);
            
                    $('#ci_act').parent().addClass('is-dirty'); 
                    $('#nombre_act').parent().addClass('is-dirty'); 
                    $('#apellido_act').parent().addClass('is-dirty'); 
                    $('#fecha_nacimiento_act').parent().addClass('is-dirty'); 
                    $('#correo_act').parent().addClass('is-dirty'); 
                    $('#contraseña_act').parent().addClass('is-dirty'); 

                    // Muestra el modal de actualización
                    $('#form_actualizar').modal('show');
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        });
    });
</script>
{% endblock %}