{% extends '../Plantilla.html'%}
{% block body %}
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#tabListClient" class="mdl-tabs__tab is-active" >LISTADO</a>
        <a href="#tabNewClient" class="mdl-tabs__tab">NUEVO</a>
    </div>
    <div class="mdl-tabs__panel is-active" id="tabListClient">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="full-width panel-tittle bg-success text-center tittles">
                        Listado Organizadores
                    </div>
                    <div class="full-width panel-content">
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                <label class="mdl-button mdl-js-button mdl-button--icon" for="searchClient">
                                    <i class="zmdi zmdi-search"></i>
                                </label>
                                <div class="mdl-textfield__expandable-holder">
                                    <input class="mdl-textfield__input" type="text" id="searchClient">
                                    <label class="mdl-textfield__label"></label>
                                </div>
                            </div>
                        </form>
                        <div class="mdl-list">
                            {% for organizadorTemp in organizador %}
                                <div class="mdl-list__item mdl-list__item--two-line">
                                    <span class="mdl-list__item-primary-content">
                                        <i class="zmdi zmdi-account mdl-list__item-avatar"></i>
                                        <span>{{organizadorTemp.nombre}} {{organizadorTemp.apellido}}</span>
                                        <span class="mdl-list__item-sub-title">{{organizadorTemp.ci}}</span>
                                    </span>
                                    <a href="#" class="btn btn-success">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    &nbsp;
                                    <a href="{% url 'eliminarUsuario' organizadorTemp.id_usuario %}" class="btn btn-danger">
                                        <i class="bi bi-trash"></i>
                                    </a>  
                                    &nbsp;
                                    <a href="" class="btn btn-info">
                                        <i class="bi bi-eye"></i>
                                    </a>              
                                </div>
                            {% endfor %}
                            <li class="full-width divider-menu-h"></li>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="tabNewClient">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="full-width panel-tittle bg-primary text-center tittles">
                        Nuevo Organizador
                    </div>
                    <div class="full-width panel-content">
                        <form action="{% url 'crearOrganizadores' %}" method="POST">
                            {% csrf_token %}
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col">
                                    <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; </legend><br>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="ci" name="ci">
                                        <label class="mdl-textfield__label" for="ci">C.I.:</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[A-Za-záéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="nombre" name="nombre">
                                        <label class="mdl-textfield__label" for="nombre">Nombre:</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[A-Za-záéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="apellido" name="apellido">
                                        <label class="mdl-textfield__label" for="apellido">Apellido</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="date" id="fecha_nacimiento" style="color: transparent;" name="fecha_nacimiento">
                                        <label class="mdl-textfield__label" for="fecha_nacimiento">Fecha de nacimiento</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="email" id="correo" name="correo"> 
                                        <label class="mdl-textfield__label" for="correo">Correo</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="contraseña" name="contraseña">
                                        <label class="mdl-textfield__label" for="contraseña">Contraseña</label>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">                               
                                <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addClient">
                                    <i class="zmdi zmdi-plus"></i>
                                </button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}