{% extends '../Plantilla.html'%}
{% block body %}
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#tabListFestival" class="mdl-tabs__tab is-active">LIST</a>
        <a href="#tabNewFestival" class="mdl-tabs__tab">NEW</a>
    </div>
    <div class="mdl-tabs__panel is-active" id="tabListFestival">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="full-width panel-tittle bg-success text-center tittles">
                        List of Licences
                    </div>
                    <div class="full-width panel-content">
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                <label class="mdl-button mdl-js-button mdl-button--icon" for="searchFestival">
                                    <i class="zmdi zmdi-search"></i>
                                </label>
                                <div class="mdl-textfield__expandable-holder">
                                    <input class="mdl-textfield__input" type="text" id="searchFestival">
                                    <label class="mdl-textfield__label"></label>
                                </div>
                            </div>
                        </form>
                        <div class="mdl-list">
                            {% for licence in licences %}
                            <div class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <i class="zmdi zmdi-balance"></i>
                                    <span>{{ licence.type }}</span>
                                    <span class="mdl-list__item-sub-title">{{ licence.price }}</span>
                                    <span class="mdl-list__item-sub-title">{{ licence.acronnym }}</span>
                                </span>
                                <a href="#" class="btn btn-success editar-festival"
                                    data-id="{{ licence.id_lic }}" data-bs-toggle="modal"
                                    data-bs-target="#form_actualizar_licence">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                &nbsp;
                                <a href="{% url 'deleteLicence' licence.id_lic %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this licence?');">
                                    <i class="bi bi-trash"></i>
                                </a>
                                &nbsp;
                                <a href="" class="btn btn-info">
                                    <i class="bi bi-eye"></i>
                                </a>
                            </div>
                            {% endfor %}
                            <li class="full-width divider-menu-h"></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="tabNewFestival">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="full-width panel mdl-shadow--2dp">
                    <div class="full-width panel-tittle bg-primary text-center tittles">
                        New Licence
                    </div>
                    <div class="full-width panel-content">
                        <form action="{% url 'createLicence' %}" method="POST" id="form-addLicence">
                            {% csrf_token %}
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col">
                                    <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; </legend><br>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <select name="licence" id="licence" class="mdl-textfield__input">
                                            <option value="Private">Private</option>
                                            <option value="Open Sourse">Open Sourse</option>
                                        </select>
                                        <label class="mdl-textfield__label" for="licence">Type Licence:</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="number" id="price" name="price" min="0" step="0.01">
                                        <label class="mdl-textfield__label" for="price">Price:</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="acronnym" name="acronnym">
                                        <label class="mdl-textfield__label" for="acronnym">Acronnym:</label>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center">
                                <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addFestival">
                                    <i class="zmdi zmdi-plus"></i>
                                </button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
    <div class="modal fade" id="form_actualizar_licence" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update Licence</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'updateLicence' %}" method="POST" id="form-updateLicence">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col">
                                <legend class="text-condensedLight"><i class="zmdi zmdi-border-color"></i> &nbsp; </legend><br>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                <input class="mdl-textfield__input" type="text" id="id_act" name="id_act" hidden>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <select name="licence_act" id="licence_act" class="mdl-textfield__input">
                                        <option value="Private">Private</option>
                                        <option value="Open Sourse">Open Sourse</option>
                                    </select>
                                    <label class="mdl-textfield__label" for="licence_act">Type Licence:</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="number" id="price_act" name="price_act" min="0" step="0.01">
                                    <label class="mdl-textfield__label" for="price_act">Price:</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="acronnym_act" name="acronnym_act">
                                    <label class="mdl-textfield__label" for="acronnym_act">Acronnym:</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <select name="status_act" id="status_act" class="mdl-textfield__input">
                                        <option value="true">Active</option>
                                        <option value="false">Inactive</option>
                                    </select>
                                    <label class="mdl-textfield__label" for="status_act">Status:</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#form-addLicence').validate({
            rules: {
                licence: {
                    required: true,
                    min: 10
                },
                price: {
                    required: true,
                    min: 0
                },
                acronnym: {
                    required: true,
                    min: 3
                }
            },
            messages: {
                licence: {
                    required: 'Please enter the type of licence',
                    min: 'The type of licence must be at least 10 characters long'
                },
                price: {
                    required: 'Please enter the price', 
                    min: 'The price must be at least 0'
                },
                acronnym: {
                    required: 'Please enter the acronnym',
                    min: 'The acronnym must be at least 3 characters long'
                }
            }
        }); 

        $('#form-updateLicence').validate({
            rules: {
                licence_act: {
                    required: true,
                    min: 10
                },
                price_act: {
                    required: true,
                    min: 0
                },
                acronnym_act: {
                    required: true,
                    min: 3
                },
                status_act: {
                    required: true
                }
            },
            messages: {
                licence_act: {
                    required: 'Please enter the type of licence',
                    min: 'The type of licence must be at least 10 characters long'
                },
                price_act: {
                    required: 'Please enter the price',
                    min: 'The price must be at least 0'
                },
                acronnym_act: {
                    required: 'Please enter the acronnym',
                    min: 'The acronnym must be at least 3 characters long'
                },
                status_act: {
                    required: 'Please enter the status',
                }
            }
        });

        // Handle click on edit button
        $(document).on('click', 'a.editar-festival', function (event) {
            event.preventDefault();
            var licenceID = $(this).data('id');
            $.ajax({
                url: `/listLicencesID/${licenceID}/`,
                method: 'GET',
                success: function (data) {
                    $('#id_act').val(data.id_lic);
                    $('#licence_act').val(data.type);
                    $('#price_act').val(data.price);
                    $('#acronnym_act').val(data.acronnym);
                    $('#status_act').val(data.status.toString());  
            
                    $('#id').parent().addClass('is-dirty'); 
                    $('#licence_act').parent().addClass('is-dirty'); 
                    $('#price_act').parent().addClass('is-dirty'); 
                    $('#acronnym_act').parent().addClass('is-dirty'); 
                    $('#status_act').parent().addClass('is-dirty'); 

                    // Show update modal
                    $('#form_actualizar_licence').modal('show');
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        });
    });
</script>

{% endblock %}