{% extends '../Plantilla.html'%}
{% block body %}
<section class="full-width text-center" style="padding: 40px 0;">
    <h3 class="text-center tittles">EVENT MANAGEMENT</h3>
    <!-- Tiles -->
    <article class="full-width tile">
        <a href="{% url 'listadoAdministradores' %}">
            <div class="tile-text">
                <span class="text-condensedLight">
                    {{admin}}<br>
                    <small>ADMINISTRADORES</small>
                </span>
            </div>
            <i class="zmdi zmdi-account tile-icon"></i>
        </a>
    </article>
    <article class="full-width tile">
        <a href="{% url 'listadoArtista' %}">
            <div class="tile-text">
                <span class="text-condensedLight">
                    {{artistas}}<br>
                    <small>SINGER</small>
                </span>
            </div>
            <i class="zmdi zmdi-accounts tile-icon"></i>
        </a>
    </article>
    <article class="full-width tile">
        <a href="{% url 'listadoOrganizadores' %}">
            <div class="tile-text">
                <span class="text-condensedLight">
                    {{organizadores}}<br>
                    <small>ORGANIZADORES</small>
                </span>
            </div>
            <i class="zmdi zmdi-accounts tile-icon"></i>
        </a>
    </article>
    <article class="full-width tile">
        <a href="{% url 'listadoArtista' %}">
            <div class="tile-text">
                <span class="text-condensedLight">
                    {{asistentes}}<br>
                    <small>ASSISTANT</small>
                </span>
            </div>
            <i class="zmdi zmdi-accounts tile-icon"></i>
        </a>
    </article>
</section>
{% endblock %}


    